.prod-line-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.prod-line-row a {
    width: 30%;
    height: fit-content;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.landing-row, .prod-container-overlay {
    margin-bottom: 20px;
}

.landing-row > .prod-container {
    width: 20%;
    opacity: 0.8;
}

.prod-line-row img {
    width: 100%;
    margin: 0;
    padding: 5px;
}

.prod-line-row div {
    padding: 0;
    border: 0;
}

.prod-container {
    box-shadow: 0px 0px 1px #E4E4E4;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.prod-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    opacity: 0;
    transition: opacity 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.prod-container-overlay:hover {
    opacity: 1;
}
.landing-row.prod-container-overlay:hover {
    opacity: 0;
}

.selected {
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px #7A7A7A;
}
@media (max-width: 1300px) {
    .big, .pp-price, .pp-title {
        font-size: 1.5em;
    }
    .big-text {
        font-size: 1em;
    }
    .product-info select {
        font-size: .75em;
    }
}
@media (max-width: 1100px) {
    .main-grid {
        /* grid-template-rows: .1fr auto; */
        grid-template-columns: none; 
    }
    .nav-container {
        z-index: 10;    
        /* top: 2.5vh; */
        position: sticky;
        background: rgb(255, 255, 255);
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0 0;
    }
    .nav {
        width: 95vw;
        margin: 0 auto;
        height: fit-content;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: none;
        /* left: auto; */
        padding: 0;
    }
    .logo-img {
        margin-top: 5px;
    }
    .logo-title {
        padding-bottom: 5px;
    }
    .nav-cart-wrapper > .cart-item-wrapper, .nav-cart-wrapper > .menu-sub, .menu-header-option {
        display: none;
    }
    .nav-cart-wrapper {
        width: auto;
    }
    .checkout {
        top: 15vh;
    }
}
@media (max-width: 600px){
    .nav {
        width: 95%;
    }
    .logo-img {
        width: 75px;
        margin-bottom: -20px;
        margin-left: 10px;
    }
    .logo-title {
        margin-left: 10px;
        font-size: 1.5em;
    }
    .menu-header {
        font-size: 15px;
        border-bottom: 2px solid transparent;
        margin: 5px;
    }
    .product-grid {
        grid-template-columns: 1fr;
    }
    .section-header {
        margin: 20px 0;
        font-size: 2em;
        text-align: center;
    }
    .product-page-grid {
        grid-template-rows: .75fr 1fr;
        grid-template-columns: none;
        margin: 20px auto;
    }
    .pp-title {
        margin: 10px 0;
    }
    .cart-container {
        display: flex;
        flex-direction: column-reverse;
    }
    .checkout {
        margin: 10px 0;
        position: initial;
        top: 0;
    }
    .cart {
        padding: 10px;
    }
    .cart-landing-item-wrapper {
        margin: 10px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .order-summary-wrapper {
        width: 100%;
    }
    .remove {
        top: 15px;
        right: 15px;
        font-size: .69em;
    }
    .address-form {
        width: 100%;
    }
    .form-row {
        flex-direction: column;
    }
    .med-form-cell {
        width: 100% !important;
    }
    .small-input-row {
        justify-content: center;
        flex-wrap: wrap;
    }
    .small-input-cell {
        width: 45% !important;
        margin: 0 5px;
    }
    .cart-landing-item-wrapper img {
        margin-left: 0px;
    }
    .post-pay-wrapper {
        width: 100%;
    }
    .main-grid {
        grid-gap: 10px;
    }
}