* {
    text-transform: lowercase;
}
.main-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.main-container {
    transition: 300ms transform;
    width: 100%;
    max-width: 1425px;
    /* margin: 40px auto; */
    padding: 0 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0px 0px 10px lightgray inset;
    background-color: #fafafa;
    border-radius: 10px;
}

.section-header {
    font-size: 3em;
    text-shadow: 0 2px white;
    color: #b8bec5;
    font-weight: bold;
    margin: 40px auto 40px 40px;
}

.sub-header {
    font-size: 1.5em;
    margin: 20px 0;
    color: black;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(166, 166, 166, 0.49);
    margin: 10px auto;
    border-radius: 5px;
    width: 94%;
    background-color: white;
}

.image {
    position: relative;
    padding: 10px;
}

.image img {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0, 0, .69);
    color: white;
    opacity: 0;
    transition: 200ms opacity;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.overlay div {
    margin: 10px 0;
}

.image:hover .overlay {
    opacity: 1;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.info-wrapper div {
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.number {
    font-size: 1.5em;
}

.link {
    cursor: pointer;
}

.product-wrapper a {
    color: black;
    text-decoration: none;
}

.link:hover {
    border-bottom: 2px solid black;
}

.big {
    font-size: 2em;
}

