.nav {
    /* left: 1vw; */
    height: 95vh;
    width: 100%;
    /* max-width: 340px; */
    /* margin: 0 auto; */
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    background-color: #2E2E2E;
    color: white;
    transition: 300ms width;
}

.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    width: 100%;
}

.mobile-nav {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.products-menu-container {
    position: relative;
}

.products-sub-menu::before {
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #2e2e2e;
    position: absolute;
    top: -5px;
    left: 45%;
    transform: scale(2.5);
}

.products-sub-menu {
    display: none;
    padding: 10px 5px;
    background-color: #2E2E2E;
    position: absolute;
    top: 200%;
    left: -25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

.mobile-nav-sub {
    color: white;
    margin: 20px;

}

.mobile-nav-header {
    cursor: pointer;

}

/* .nav:hover {
    width: 200px;
} */

/* .nav:hover + .main-container {
    transform: translateX(120px);
} */

.logo-title {
    /* background-color: #2E2E2E; */
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    z-index: 3;
}

.logo-img {
    width: 100px;
    margin-bottom: -25px;
    margin-top: 20px;
    z-index: 2;
}

.menu-header {
    margin: 20px auto;
    font-size: 1.2em;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    text-align: center;
    width: fit-content;
}

.nav a {
    color: white;
    text-decoration: none;
}

.mobile-nav a {
    color: black;
    text-decoration: none;
}

.menu-header:hover {
    border-bottom: 2px solid white;
}

.menu-header-option {
    text-align: left;
    position: relative;
    /* overflow: hidden; */
    margin: 5px 0;
    border-bottom: 2px solid transparent;
}

.menu-header-option:hover {
    border-bottom: 2px solid white;
}

/* .menu-header .menu-header-option b {
    display: inline-block;
    transform: translateY(110%);
    transition: transform 300ms;
} */

.menu-header-option b {
    padding: 5px 0;
}

.menu-sub {
    text-align: center;
}

.cart-item-wrapper {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px auto;
    padding: 10px;
    color: black;
    width: 100%;
    font-size: .8em;
    border-radius: 5px;
    position: relative;
}

.cart-item-wrapper img {
    width: 75px;
    height: 75px;
}

.text-box {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.text-box div {
    margin: 5px 0;
}

.nav-cart-wrapper {
    width: 95%;
}

.nav-cart-remove {
    position: absolute;
    top: 7.5px;
    right: 7.5px;
    cursor: pointer;
    padding: 1px 3px;
    color: black;
    border-radius: 2px;
}